# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
*.ipynb_checkpoints

# ========================
# dbt
# ========================
# Build-Outputs & Logs
target/
logs/
dbt_packages/
dbt_internal_packages/

# ========================
# OS / IDE / Misc
# ========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# ========================
# Credentials / Secrets
# ========================
profiles.yml
# Service-Account-Keys
*.json
